<!DOCTYPE html>
<html>
<head>
    <title>Book Appointment</title>
</head>
<body>
    <h1>Appointment Booking Form</h1>
    <form action="/submit" method="post">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>
        <label>Your Email:</label><br>
        <input type="email" name="email"><br><br>
        <label>Preferred Timing:</label><br>
        <input type="text" name="time"><br><br>
        <input type="submit" value="Book your appointment according to your preferred time">
    </form>
</body>
</html>
